{% extends 'base.html' %}

{% block title %}
Пользователи
{% endblock %}


{% block body %}
<br>
<br>

<table style="width:100%; margin-left:5mm;">
    <tr>
        <td style="width:33%">
            <b>СОГЛАСОВАНО</b> <br>
            Первичная профсоюзная организация<br>
            Брестского филиала РУП «Белтелеком»<br>
            ___________________________<br>
            "___"______________ _______г.<br>
            Протокол №_________

        </td>
        <td style="text-align:center;">
            <b>ГРАФИК РАБОТ</b> <br>
            ЛТЦ Брест группа обработки и контроля<br>
            на <b> Август 2022 </b>
        </td>
        <td style="width:33%; text-align:right;">
            Руководитель подразделения <br>
            Брестского филиала РУП «Белтелеком»<br>
            __________________А.М. Гречный<br>
            "___"__________________ _______г.
        </td>
    </tr>
</table>
<br>
<br>

<table border="1" style="border-collapse:collapse; margin-left:5mm; margin-right:5mm;" class="Polosa">
    <thead style="font-weight:700; text-align:center; border:2px solid black;">
    <tr>
        <td rowspan="2">#</td>
        <td rowspan="2">Фамилия И.О.</td>
        <td rowspan="2">Должность</td>
        <td rowspan="2">Таб. №</td>
        <td colspan="31">График работ <br> ЛТЦ Брест группа обработки и контроля</td>
        <td colspan="2">Итого</td>
        <td rowspan="2">Подпись</td>
    </tr>
    <tr style="text-align:center;">

        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td style="background:#c6c6c6;">6</td>
        <td style="background:#c6c6c6;">7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
        <td>11</td>
        <td>12</td>
        <td style="background:#c6c6c6;">13</td>
        <td style="background:#c6c6c6;">14</td>
        <td>15</td>
        <td>16</td>
        <td>17</td>
        <td>18</td>
        <td>19</td>
        <td style="background:#c6c6c6;">20</td>
        <td style="background:#c6c6c6;">21</td>
        <td>22</td>
        <td>23</td>
        <td>24</td>
        <td>25</td>
        <td>26</td>
        <td style="background:#c6c6c6;">27</td>
        <td style="background:#c6c6c6;">28</td>
        <td>29</td>
        <td>30</td>
        <td>31</td>
        <td>Дней</td>
        <td>Часов</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'">1</td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'">Давыдовская Светлана Петровна</td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'">Электромеханик линейных сооружений связи и
            абонентских устройств
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'">374</td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'" style="text-align:center;  ">
            08:30-13:00, 13:45-16:15
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'"
            style="text-align:center;   background:#c6c6c6;   ">
            В
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'"
            style="text-align:center;   background:#c6c6c6;   ">
            В
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'" style="text-align:center;  ">
            08:30-13:00, 13:45-16:15
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'"
            style="text-align:center;   background:#c6c6c6;   ">
            В
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'"
            style="text-align:center;   background:#c6c6c6;   ">
            В
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'" style="text-align:center;  ">
            08:30-13:00, 13:45-16:15
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'"
            style="text-align:center;   background:#c6c6c6;   ">
            В
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'"
            style="text-align:center;   background:#c6c6c6;   ">
            В
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'" style="text-align:center;  ">
            08:30-13:00, 13:45-16:15
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'"
            style="text-align:center;   background:#c6c6c6;   ">
            В
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'"
            style="text-align:center;   background:#c6c6c6;   ">
            В
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'" style="text-align:center;  ">
            08:30-13:00, 13:45-16:45
        </td>

        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'" style="text-align:center;">23</td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'" style="text-align:center;">184:00</td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/96'"></td>
        <td onclick="SotrudnikPodrDel('96')" class="ButtonDel noprint">Х</td>
    </tr>
    <tr>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'">2</td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'">Лещева Ирина Николаевна</td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'">Электромеханик линейных сооружений связи
            и абонентских устройств
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'">427</td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'" style="text-align:center;  ">
            08:30-13:00, 13:45-16:15
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'"
            style="text-align:center;   background:#c6c6c6;   ">
            В
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'"
            style="text-align:center;   background:#c6c6c6;   ">
            В
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'" style="text-align:center;  ">
            08:30-13:00, 13:45-16:15
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'"
            style="text-align:center;   background:#c6c6c6;   ">
            В
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'"
            style="text-align:center;   background:#c6c6c6;   ">
            В
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'" style="text-align:center;  ">
            08:30-13:00, 13:45-16:15
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'"
            style="text-align:center;   background:#c6c6c6;   ">
            В
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'"
            style="text-align:center;   background:#c6c6c6;   ">
            В
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'" style="text-align:center;  ">
            08:30-13:00, 13:45-16:15
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'"
            style="text-align:center;   background:#c6c6c6;   ">
            В
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'"
            style="text-align:center;   background:#c6c6c6;   ">
            В
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'" style="text-align:center;  ">
            08:30-13:00, 13:45-16:45
        </td>

        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'" style="text-align:center;">23</td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'" style="text-align:center;">184:00</td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/116'"></td>
        <td onclick="SotrudnikPodrDel('116')" class="ButtonDel noprint">Х</td>
    </tr>
    <tr>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'">3</td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'">Валетов Андрей Васильевич</td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'">Электромеханик линейных сооружений связи
            и абонентских устройств
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'">513</td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'" style="text-align:center;  ">
            08:30-13:00, 13:45-16:15
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'"
            style="text-align:center;   background:#c6c6c6;   ">
            В
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'"
            style="text-align:center;   background:#c6c6c6;   ">
            В
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'" style="text-align:center;  ">
            08:30-13:00, 13:45-16:15
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'"
            style="text-align:center;   background:#c6c6c6;   ">
            В
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'"
            style="text-align:center;   background:#c6c6c6;   ">
            В
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'" style="text-align:center;  ">
            08:30-13:00, 13:45-16:15
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'"
            style="text-align:center;   background:#c6c6c6;   ">
            В
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'"
            style="text-align:center;   background:#c6c6c6;   ">
            В
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'" style="text-align:center;  ">
            08:30-13:00, 13:45-16:15
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'"
            style="text-align:center;   background:#c6c6c6;   ">
            В
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'"
            style="text-align:center;   background:#c6c6c6;   ">
            В
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'" style="text-align:center;  ">
            08:30-13:00, 13:45-16:45
        </td>

        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'" style="text-align:center;">23</td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'" style="text-align:center;">184:00</td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/559'"></td>
        <td onclick="SotrudnikPodrDel('559')" class="ButtonDel noprint">Х</td>
    </tr>
    <tr>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'">4</td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'">Лесик Анатолий Иванович</td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'">Инженер линейных сооружений связи и
            абонентских устройств 1 категории
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'">904</td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'" style="text-align:center;  ">
            08:30-13:00, 13:45-16:15
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'"
            style="text-align:center;   background:#c6c6c6;   ">
            В
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'"
            style="text-align:center;   background:#c6c6c6;   ">
            В
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'" style="text-align:center;  ">
            08:30-13:00, 13:45-16:15
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'"
            style="text-align:center;   background:#c6c6c6;   ">
            В
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'"
            style="text-align:center;   background:#c6c6c6;   ">
            В
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'" style="text-align:center;  ">
            08:30-13:00, 13:45-16:15
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'"
            style="text-align:center;   background:#c6c6c6;   ">
            В
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'"
            style="text-align:center;   background:#c6c6c6;   ">
            В
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'" style="text-align:center;  ">
            08:30-13:00, 13:45-16:15
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'"
            style="text-align:center;   background:#c6c6c6;   ">
            В
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'"
            style="text-align:center;   background:#c6c6c6;   ">
            В
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'" style="text-align:center;  ">
            08:30-13:00, 13:45-17:30
        </td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'" style="text-align:center;  ">
            08:30-13:00, 13:45-16:45
        </td>

        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'" style="text-align:center;">23</td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'" style="text-align:center;">184:00</td>
        <td onclick="location.href='/Personal/Grafikrabot/GrafikSotrEdit/316'"></td>
        <td onclick="SotrudnikPodrDel('316')" class="ButtonDel noprint">Х</td>
    </tr>
    </tbody>
</table>


<br>
<textarea style="border:0; font-size:8pt; width:94%; margin-left:5mm; margin-right:5mm;" rows="2">
 * В график работы могут вноситься изменения в связи с производственной необходимостью и ознакомлением работников не менее, чем за один день, в исключительных случаях (болезнь и др.) по факту.
</textarea>
<br>
<table style="width:100%;">
    <tr style="text-align:left">
        <td>Ведущий инженер ЛСС и АУ    ___________  С.Н. Гембицкий</td>
    </tr>
</table>
<table style="width:100%;">
    <tr style="text-align:left;">
        <td>График составил: </td>
    </tr>
</table>
<table style="width:100%;">
    <tr style="text-align:left;">
        <td>эл. механик ЛССи АУ  __________ А.В. Валетов</td>
    </tr>
</table>
<table style="width:100%;">
    <tr style="text-align:left;">
        <td>Норму времени проверил:</td>
    </tr>
<table style="width:100%;">
    <tr style="text-align:left;">
        <td>инженер по организации  труда ____________И.В. Муругова</td>
    </tr>


<div id="ModalDialog1" class="modalDialog">
    <div id="ModalLoad1" class="ModalLoad">

    </div>
</div>


<script type="text/javascript">
        function PereformirovaniePoPodr() {
            if (confirm('Все ручные изменения графика ВСЕХ СОТРУДНИКОВ в подразделении изменяться на шаблонный вариант. Продолжить ?')) {
                location.href = '/Personal/Grafikrabot/PodrazdeleniePoShablonu/214'
            }
        }
        function SotrudnikPodrDel(Id) {
            if (confirm('Точно хотите удалить сотрудника из подразделения?')) {
                location.href = '/Personal/Grafikrabot/SotrudnikPodrDel' + "?Id=" + Id;
            }
        }
        function SotrudnikPodrDelAll(Id) {
            if (confirm('Точно хотите Удалить всех?')) {
                location.href = '/Personal/Grafikrabot/SotrudnikPodrDelAll' + "?Id=" + Id;
            }
        }


        function ArhivView(Id)
        {
            $("#ModalLoad1").load('/Personal/Grafikrabot/TabelArhivPV', { 'Id': Id }, function () { ModalDialogShow(); });
        }

        function ArhivGrafikView(Id)
        {
            $("#ModalLoad1").load('/Personal/Grafikrabot/GragikArhivPV', { 'Id': Id }, function () { ModalDialogShow(); });
        }

        function ModalDialogCancel() {
            $("#ModalDialog1").css({ 'display': 'none' });
        }
        function ModalDialogShow() {
            $("#ModalDialog1").css({ 'display': 'block' });
        }

        function TabelSdan()
        {
            if (confirm('Точно ваш окончательный вариант?'))
            {
                location.href = '/Personal/Grafikrabot/PodrBlock?PodrId=214';
            }
        }

        function TabelUnBlock()
        {
            if (confirm('Точно хотите разрешить редактировать?')) {
                location.href = '/Personal/Grafikrabot/PodrUnBlock?PodrId=214';
            }
        }

    function ShablonInitialize(Id) {
        $("#ModalLoad1").load('/Personal/Grafikrabot/PodrazdeleniePoShablonuPV', { 'Id': Id }, function () { ModalDialogShow(); });
        }


</script>


{% endblock %}